<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Товары</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<h2>Управление товаром</h2>

<form th:action="'/product-edit/submit'" th:object="${product}" method="post">
    <div>
        <input type="hidden" name="id" th:value="${product.id}"/>
        <label>Название товара</label>
        <input type="text" th:field="${product.label}"/>
        <br>
        <label>Стоимость</label>
        <input type="number" th:field="${product.cost}"/>
        <br>
        <button class="btn btn-success" type="submit">Сохранить</button>
    </div>
</form>


</body>
</html>